<div class="mt-5 flex space-x-4">
  <div class="w-80">
    <ul>
      <li>
        <a routerLink="/">
          @if (categoryId === undefined) {
            <strong>All</strong>
          } @else {
            All
          }
        </a>
      </li>

      @for (category of categories(); track category.id) {
        <li>
          <a routerLink="/" [queryParams]="{ categoryId: category.id }">
            @if (categoryId === category.id.toString()) {
              <strong>{{ category.name }}</strong>
            } @else {
              {{ category.name }}
            }
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="grid w-full grid-cols-4 gap-8">
    @for (product of products(); track $index) {
      <app-product [product]="product" (addToCard)="addToCard($event)" />
    }
  </div>
</div>
